footer {
    .margin {
        margin-top: 57px;
        padding-bottom: 10px;
    }
    .adding-padding {
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: -50px;
    }
    h4 {
        color: #9ee6f4;
    }
    h5 {
        font-weight: bold;
        color: #fff;
        font-family: $sans-serif;
        font-size: 12px;
        padding-bottom: 15px;
    }
}

.add--padding {
    padding-top: 26px !important;
    padding-bottom: 54px !important;
}

ul.footer__list--links li {
    list-style: none;
    line-height: 24px;
    font-family: $sans-serif;
    font-size: 12px;
    a {
        color: #9ee6f4;
        text-decoration: none;
    }
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: #e33c56;
}

.green {
    background-color: #62f283;
}

.padding-image {
    top: 20px !important;
}

.padding-span {
    margin-top: 24px !important;
    display: inline-block;
}

.info--details {
    padding-left: 54px;
    span {
        color: #fff;
        font-family: $sans-serif;
        font-size: 12px;
    }
}

.border--top {
    border-top: 1px solid #0b8ca1;
}

h4.info--header {
    padding-bottom: 40px;
}

.fix--image {
    position: relative;
    top: 4px;
}

.fix--image--space {
    padding-right: 10px;
}

img.footer__icon--social {
    height: 39px;
    padding-right: 3px;
}

.footer__details {
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    padding-top: -30px;
    position: relative;
    top: -16px;
}

.width {
    width: 100%;
}

.footer--bottom {
    padding-bottom: 10px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}


/* Mobile Styles */

@media only screen and (max-width: 520px) {
    ul.footer__list--links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -1px;
        margin-bottom: -33px;
        margin-top: -20px;
        li {
            font-size: 14px;
            flex-grow: 1;
            flex-basis: auto;
            margin: .25em 0;
            padding: 0 1em;
            text-align: center;
            border-left: 1px solid $blue;
            height: 17px;
            margin-bottom: 10px;
            color: $blue;
        }
        li:first-child {
            border-left: none;
        }
    }
    .grid--row {
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    .add-margin {
        width: 70%;
        margin-right: 20px;
    }
    .center--mobile {
        text-align: center;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    img.footer__icon--social {
        padding-right: 30px;
    }
    .align-text {
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .content__grid__item h4 {
        line-height: 18px;
        text-align: center;
    }
    .change--background {
        background-color: $bluefooter;
    }
    .info--content {
        display: flex;
        height: 80px;
        flex-wrap: wrap;
        align-content: space-between;
        background-color: DodgerBlue;
        div:first-child {
            width: 160px;
        }
        div {
            background-color: #f1f1f1;
            width: 69px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
            height: 100%;
            margin-right: 10px;
            border-right: 1px solid red;
        }
    }
    footer .adding-padding {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        margin-left: -20px;
    }
    .add--padding-bottom {
        padding-bottom: 20px;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 520px) and (max-width: 960px) {}


/* Desktop Styles */

@media only screen and (min-width: 961px) {}