header {
    background-color: $white;
    display: flex;
    justify-content: center;
    .top__header {
        width: $container;
        height: 66px;
        @include flexBox(space-between, center);
        h3 {
            font-family: $sans-serif;
            font-size: $font-text;
            color: $gray;
            font-weight: 300;
            @include padding-sides(0px, 10px, 0px, 0px);
        }
    }
}

.top__icon--informacao {
    @include flexBox(flex-start, center);
    height: 25px;
    @include padding-sides(0px, 10px, 0px, -5px);
}

img.top__icon {
    margin-right: 5px;
}

.top__icon--login {
    @include flexBox( flex-end, center);
}

.top__icon--separator {
    border-right: 1px solid #999;
    height: 64px;
    @include padding-sides(0px, 0px, 8px, 10px);
}

.top__icon--ajuda {
    @include flexBox(flex-end, center);
}


/* Mobile Styles */

@media only screen and (max-width: 520px) {
    .top__text--desktop,
    .top__icon--informacao {
        display: none;
    }
    .top__icon--separator {
        @include padding-sides(0px, 29px, 16px, 10px);
    }
    .top__icon--ajuda {
        @include flexBox(flex-end, flex-end);
        @include padding-top-bottom(8px, 6px, 0px, 0px);
    }
    img.top__icon {
        margin: auto !important;
        display: flex;
        margin-left: 30px;
        position: relative;
        left: 33px;
        top: -5px;
    }
    .top__icon--ajuda h3 {
        text-align: center;
    }
    .top__text--mobile {
        position: relative;
        top: 18px;
    }
    .top__icon--login img.top__icon {
        position: relative;
        top: -8px;
    }
    .top__icon--login {
        @include flexBox(flex-end, center);
        margin-right: 11px;
    }
    .top__icon--logo {
        padding-left: 12px;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 520px) and (max-width: 960px) {
    .top__icon--ajuda,
    .top__text--mobile {
        display: none;
    }
    .top__text--desktop {
        display: block;
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .top__icon--ajuda,
    .top__text--mobile {
        display: none;
    }
    .top__icon--login span.top__icon--separator {
        display: none;
    }
}