$container:990px;
$gray: #858585;
$blue: #17acc4;
$darkBlue:#05869b;
$bluefooter:#006f8a;
$darker-gray: #565656;
$hover-nav:#2d9db5;
$white:#fff;
$black:#000;
$sans-serif:'Lato',
Arial,
sans-serif;
$font-text:14px;
$h2-fontsize:18px;
$h3-fontsize:16px;